{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
        
     
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_show', {'id': blog.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_edit', {'id': blog.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
       
        </tbody>
    </table>

{% endblock %}